botname: NotVeryCleverBot
owner: pipeep
username: NotVeryCleverBot
password: wouldntyouliketoknow
database: # http://sequelizejs.com/documentation#usage-options
  # Basic options
  name: nvcb
  # Extra options
  saveRawComments: true
  # Knex options
  client: sqlite
  connection:
    filename: database.sqlite
    username: null # Not needed for sqlite
    password: null
logging:
  - type: console
    level: verbose
  - type: file
    filename: nvcb.log
    level: debug
blacklist:
  # TODO: https://www.reddit.com/r/TheoryOfReddit/comments/25yx8g/
  # TODO: read quarentine label on comments
  - suicidewatch
  - depression
